extends layout

block title
  title Polls | Login
  
block content
  h1#RegisterLogin-title Login
  hr
  form(method='POST', action='/users/login')
    #form-group
      label Username:
      input#Login-Register-Input.form-control(name='username', type='text')
    #form-group
      label Password:
      input#Login-Register-Input.form-control(name='password', type='password')
    br
    input#Login-Register-Submit-Btn.btn.btn-primary(type='submit', value='Submit')
    br
    br
    a(href='/users/register') Need an account? Sign up here!
