extends layout

block title
  title Polls | Register
  
block content
  h1#RegisterLogin-title Register
  hr
  form(method='POST', action='/users/register')
    #form-group
      label Name:
      input#Login-Register-Input.form-control(name='name', type='text')
    #form-group
      label Email:
      input#Login-Register-Input.form-control(name='email', type='text')
    #form-group
      label Username:
      input#Login-Register-Input.form-control(name='username', type='text')
    #form-group
      label Password:
      input#Login-Register-Input.form-control(name='password', type='password')
    #form-group
      label Confirm Password:
      input#Login-Register-Input.form-control(name='password2', type='password')
    br
    input#Login-Register-Submit-Btn.btn.btn-primary(type='submit', value='Submit')
    br
    br
    a(href='/users/login') Already have an account? Log in here!
