/*
Alert colors ****************************************************
*/
.alert-error{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success_msg{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
/*
Register Page ****************************************************
*/
#RegisterLogin-title{
  font-family: Helvetica, Arial, sans-serif;
}

#Login-Register-Input{
  width:350px;
}

#Login-Register-Submit-Btn{
  width:350px;
  height:40px;
}
/*
Add_Poll Page ****************************************************
*/
#Add-Poll-Title{
  font-family: Helvetica, Arial, sans-serif;
}

#Poll-Input{
  width:500px;
  height:100px;
}

#Add-Poll-Choice{
  width: 500px;
}

#Add-Poll-Btn{
  width: 500px;
  height: 40px;
}

#Add-Poll-Instruction{
  font-weight: 200;
  font-size: 20px;
  color:gray;
}
/*
Index Page ****************************************************
*/
#Index-Poll-Title{
  font-size: 25px;
}
/*
Poll Vote Page ****************************************************
*/
#Poll-Vote-Question{
  font-family:Helvetica, Arial, sans-serif;
}
#Poll-Creator{
  font-size:15px;
  font-weight: 300;
}
#Option_Button{
  width:350px;
  height:50px;
  font-size: 20px;
}

.graph{
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 0px;
    height: 50px;
    font-size: 20px;
}

#option1Graph{
    background-color: #3399ff;
}
#option2Graph{
    background-color: #ff9933;
}
.numberofvotes{
  float: right;
  font-size: 15px;
}

#Option-Vote-Title{
  font-size: 20px;
  font-weight: 300;
}
